#presentationSection {
    width: 45%;
    margin-bottom: 20px;
    border-bottom: 1px dotted rgb(49, 49, 49);
}
h2 span {
    color: rgb(126, 124, 124);
    font-size: small;
    text-decoration: underline;
}
p{
    font-family: Courier, monospace;
    opacity: 0.8;
}

/*Partie Articles*/

.boxArticles{
    font-family: "Roboto Mono", monospace;
    display: flex;
    flex-direction: column;
    width: 50%;
}

.boxArticles article{
    padding: 10px;
    margin-top: 25px;
    transition-duration: 0.5s;
    border-radius: 5px;
}
.boxArticles article:hover{
    background-color: rgb(240, 240, 240);
}

h3 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.7em;
    color: rgb(30, 30, 245);
    margin: 0;
}


